* {
	font-size: 18px;
	line-height: 1.5em;
}		

* {
    font-family: 'Courier New', Courier, monospace;
}        

h1 {
    /* text-stroke: 2px orange; */ /* Might not be supported */
    font-size: 3em;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;
}
